<app-alert #alert></app-alert>
<div class="d-flex justify-content-center">
    <form [formGroup]="loginForm" (ngSubmit)="login" style="max-width: 50%; min-width: 300px; width: 500px;">
        <div class="form-group">
            <label for="loginInput">Username or email</label>
            <input type="text" class="form-control" id="loginInput" aria-describedby="usernameHelp" placeholder="Enter username" formControlName="loginInput" [disabled]="!isRequested">
        </div>
        <div class="form-group">
            <label for="passwordInput">Password</label>
            <input type="password" class="form-control" id="passwordInput" placeholder="Enter password" formControlName="passwordInput" [disabled]="!isRequested">
        </div>
        <ul class="nav justify-content-end align-items-center">
            <li class="nav-item">
                <a class="col" [routerLink]="['/resetPassword']" routerLinkActive="router-link-active">Reset password</a>
            </li>
            <li class="nav-item">
                <a class="col" [routerLink]="['/register']" routerLinkActive="router-link-active">Create new account</a>
            </li>
            <li class="nav-item">
                <button [disabled]="isRequested" type="button" class="btn btn-primary" (click)="login()">
                    <span [hidden]="!isRequested" class="spinner-border spinner-border-sm mr-1 text-light"></span>
                    login
                </button>
            </li>
        </ul>
    </form>
</div>
