<app-alert #alert></app-alert>
<div class="d-flex justify-content-center">
    <div *ngIf="isRequestPage">
        <form [formGroup]="resetForm" (ngSubmit)="resetPassword"
            style="max-width: 50%; min-width: 500px; width: 500px;">
            <div class="form-group">
                <label for="emailInput">Email</label>
                <input type="text" class="form-control" id="emailInput" aria-describedby="emailHelp"
                    placeholder="Enter email" formControlName="emailInput" [disabled]="!isRequested">
                <div [hidden]="!resetForm.controls['emailInput'].touched">
                    <span style="color: red" [hidden]="!resetForm.hasError('required', 'emailInput')">Field
                        required</span>
                    <span style="color: red" [hidden]="!resetForm.hasError('email', 'emailInput')">Wrong email
                        format</span>
                </div>
            </div>
            <ul class="nav justify-content-end align-items-center">
                <li class="nav-item">
                    <button [disabled]="isRequested" type="button" class="btn btn-primary " (click)="resetPassword()">
                        <span [hidden]="!isRequested" class="spinner-border spinner-border-sm mr-1 text-light"></span>
                        <ng-container *ngIf="isRequested" >Please wait...</ng-container>
                        <ng-container *ngIf="!isRequested">Reset password</ng-container>
                    </button>
                </li>
            </ul>
        </form>
    </div>
    <div *ngIf="!isRequestPage">
        <form [formGroup]="newPasswordForm" (ngSubmit)="submitNewPassword"
            style="max-width: 50%; min-width: 500px; width: 500px;">
            <div class="form-group">
                <label for="passwordInput">Password*</label>
                <input type="password" class="form-control" id="passwordInput" placeholder="Enter password"
                    formControlName="passwordInput" [disabled]="isRequested">
                <div [hidden]="!newPasswordForm.controls['passwordInput'].touched">
                    <span [hidden]="!newPasswordForm.hasError('required', 'passwordInput')">Field required</span>
                    <span [hidden]="!newPasswordForm.hasError('minlength', 'passwordInput')">Filed is to short, min
                        lenght:
                        6</span>
                    <span
                        [hidden]="!newPasswordForm.controls.passwordInput.valid || !newPasswordForm.hasError('passwdnotequal')">Password
                        are not equal!</span>
                </div>
            </div>
            <div class="form-group">
                <label for="repeatPasswordInput">Repeat password*</label>
                <input type="password" class="form-control" id="repeatPasswordInput" placeholder="Enter password again"
                    formControlName="repeatPasswordInput" [disabled]="isRequested">
                <div [hidden]="!newPasswordForm.controls['repeatPasswordInput'].touched">
                    <span [hidden]="!newPasswordForm.hasError('required', 'repeatPasswordInput')">Field required</span>
                    <span [hidden]="!newPasswordForm.hasError('minlength', 'repeatPasswordInput')">Filed is to short,
                        min
                        lenght: 6</span>
                    <span
                        [hidden]="!newPasswordForm.controls.repeatPasswordInput.valid || !newPasswordForm.hasError('passwdnotequal')">Password
                        are not equal!</span>
                </div>
            </div>
            <ul class="nav justify-content-end align-items-center">
                <li class="nav-item">
                    <button [disabled]="isRequested" type="button" class="btn btn-primary " (click)="submitNewPassword()">
                        <span [hidden]="!isRequested" class="spinner-border spinner-border-sm mr-1 text-light"></span>
                        <ng-container *ngIf="isRequested">Please wait...</ng-container>
                        <ng-container *ngIf="!isRequested">Reset password</ng-container>
                    </button>
                </li>
            </ul>
        </form>
    </div>
</div>