.test {
    height: 200px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

pre {
    max-height: 300px;
    width: 105%;
}