<div class="container">
    <div class="test">
        <h1 style="font-size: xxx-large;"><b>Freely test your RESTful</b></h1>
        <h5 style="color: gray; margin: 5px;">Adjust data structure to your need</h5>
        <div style="margin-top: 10px;">
            <a class="nav-link text-light" [routerLink]="['/register']"
                    routerLinkActive="router-link-active"><button class="btn btn-primary">Sign up</button></a>
        </div>
    </div>
    <h2 style="margin-left: -2em;">Request:</h2>
    <div class="input-group my-md-4 pr-ld-5">
        <div class="input-group-prepend">
            <span class="input-group-text bg-primary text-light">{{urlMethod}}</span>
        </div>
        <input #urlInput type="text" class="form-control rounded-right" disabled>
    </div>
    <h2 style="margin-left: -2em;">Response:</h2>
    <app-alert #alert></app-alert>
    <div class="d-flex justify-content-center">
        <div class="row" style="width: 100%;">
            <ul class="nav nav-tabs col">
                <li class="nav-item">
                    <a class="nav-link" [class.active]="'get-all' === activeRoute || activeRoute == null"
                        routerLink="./get-all">Get all</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [class.active]="'get' === activeRoute" routerLink="./get">Get one</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [class.active]="'new' === activeRoute" routerLink="./new">Add new</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [class.active]="'edit' === activeRoute" routerLink="./edit">Edit</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="border-bottom border-left border-right" style="padding-bottom: 1em;" [hidden]="activeRoute !== 'edit' && activeRoute !== 'new'">
        <div class="d-flex justify-content-center">
            <div id="newRecord"></div>
        </div>
        <div class="nav justify-content-end col" *ngIf="activeRoute === 'new'"><button class="btn btn-primary" style="margin-top: 10px;" id="buttonAddRecord" (click)="addRecord()">Add record</button></div>
        <div class="nav justify-content-end col" *ngIf="activeRoute === 'edit'"><button class="btn btn-primary" id="buttonAddRecord" (click)="addRecord()">Edit</button></div>
    </div>
    <div class="row d-flex justify-content-center border-bottom border-left border-right">
        <span class="mt-2 response-content" style="padding-bottom: 20px;padding-top: 20px; ">
            <div class="row" *ngIf="activeRoute === 'edit'" style="margin: 0 0 0 0;">
                <div class="col-sm" style="width: 250px;">
                    Before: <br><pre id="responseEdit"></pre>
                </div>
                <div class="col-sm" style="width: 250px;">
                    After: <br><pre id="responseEdit2"></pre>
                </div>
            </div>
            <div *ngIf="activeRoute !== 'edit'"><pre id="response"></pre></div>
        </span>
    </div>
    <div>
        <h1 style="margin-left: -2em;margin-top: 1em;">Features</h1>
        <ul class="fa-ul">
            <li style="font-size: larger;" ><span class="fa-li"><i class="fa fa-check"></i></span>Private resources</li>
            <li style="font-size: larger;"><span class="fa-li"><i class="fa fa-check"></i></span>Customizable resources structure with nasted objects</li>
            <li style="font-size: larger;"><span class="fa-li"><i class="fa fa-check"></i></span>Easy way to access resources using unique URL or X-RESOURCE-ID header</li>
            <li style="font-size: larger;"><span class="fa-li"><i class="fa fa-check"></i></span>Sharing resources</li>
            <li style="font-size: larger;"><span class="fa-li"><i class="fa fa-check"></i></span>No installation needed</li>
          </ul>
    </div>
</div>