<div class="container" style="margin: 2em;">
    <h1 style="margin-bottom: 1em;">Login</h1>
    <h3>To obtain access tocket <span class="badge badge-primary" style="margin-left: 1em;">{{getGlobal().AUTHENTICATION_LOGIN}}</span></h3>
    <p>Supported methods: <span class="badge badge-success" style="margin-left: 1em;">POST</span>
    </p>
    <p>This token need to be set as value in header with key 'Authorization'</p>
    <code>Authorization: {{'{access_token}'}}</code>
    <p>Body <span class="badge badge-success" style="margin-left: 1em;">application/json</span></p>
    <pre>
        <code>
    {{'{'}}
        "login": {{"{username/login}"}},
        "password": {{"{password}"}}
    {{'}'}}
        </code>
    </pre>
    <hr class="my-4">
    <h1 style="margin-bottom: 1em;">API information</h1>
    <h3>Besic API<span class="badge badge-primary" style="margin-left: 1em;">{{getGlobal().SERVER_URL}}/api</span></h3>
    <h5>List of records<span class="badge badge-secondary" style="margin-left: 1em;">{{getGlobal().API_GET_ALL}}</span></h5>
    <p>Supported methods: <span class="badge badge-success" style="margin-left: 1em;">GET</span>
        <span class="badge badge-success" style="margin-left: 1em;">POST</span>
        <span class="badge badge-success" style="margin-left: 1em;">PUT</span>
    </p>
    <p>Methods POST and PUT will add/replace record. Method GET will return list of all records</p>
    <p>Example</p>
    <li><p>Post/Put <span class="badge badge-secondary" style="margin-left: 1em;">{{getGlobal().SERVER_URL}}</span></p></li>
    <pre>
        <code>
    {{'{'}}
        "id": 401,
        "name": "Name1",
        "surname": "Surname1",
        "age": 24,
        "paycheck": 2122.12
    {{'}'}}
        </code>
    </pre>
    <hr class="my-2">
    <h5>One record <span class="badge badge-secondary" style="margin-left: 1em;">{{getGlobal().API_GET_RECORD}}{{'{recordId}'}}</span></h5>
    <p>Supported methods: <span class="badge badge-success" style="margin-left: 1em;">GET</span>
        <span class="badge badge-success" style="margin-left: 1em;">PATCH</span>
        <span class="badge badge-success" style="margin-left: 1em;">DELETE</span>
        </p>
        <p>Examples</p>
        <li><p>Patch <span class="badge badge-secondary" style="margin-left: 1em;">{{getGlobal().API_GET_RECORD}}500</span></p></li>
        <pre>
            <code>
    {{'{'}}
        "name": "new name",
        "surname": "new surname",
    {{'}'}}
            </code>
        </pre>
    <hr class="my-4">
    <h1 style="margin-bottom: 1em;">Private resource API</h1>
    <h5>Get resources <span class="badge badge-secondary" style="margin-left: 1em;">{{getGlobal().RESOURCE_LIST}}</span></h5>
    <p>Supported methods: <span class="badge badge-success" style="margin-left: 1em;">GET</span></p>
    <p>Required header: <span class="badge badge-danger" style="margin-left: 1em;">Authorization</span></p>
    <p>Return list of created resources. In response, field <code>url</code> is the the identificator of the resource</p>
    <hr class="my-2">
    <h5>Get resource information <span class="badge badge-secondary" style="margin-left: 1em;">{{getGlobal().RESOURCE_GET}}/{{'{url}'}}</span></h5>
    <p>Supported methods: <span class="badge badge-success" style="margin-left: 1em;">GET</span>
        </p>
    <p>Required header: <span class="badge badge-danger" style="margin-left: 1em;">Authorization</span></p>
    <hr class="my-2">
    <h5>Get resource structure <span class="badge badge-secondary" style="margin-left: 1em;">{{getGlobal().RESOURCE_RECORDS_LIST}}/{{'/{url}/structure'}}</span></h5>
    <p>Supported methods: <span class="badge badge-success" style="margin-left: 1em;">GET</span>
        </p>
    <p>Required header: <span class="badge badge-danger" style="margin-left: 1em;">Authorization</span></p>
    <hr class="my-2">
    <h5>Resource <span class="badge badge-secondary" style="margin-left: 1em;">{{getGlobal().RESOURCE_RECORDS_LIST}}/{{'{url}'}}</span></h5>
    <p>Supported methods: <span class="badge badge-success" style="margin-left: 1em;">GET</span>
        <span class="badge badge-success" style="margin-left: 1em;">POST</span>
        <span class="badge badge-success" style="margin-left: 1em;">PUT</span>
        </p>
    <p>Methods POST and PUT will add/replace record. Method GET will return list of all records</p>
    <p>Required header: <span class="badge badge-danger" style="margin-left: 1em;">Authorization</span></p>
    <p>Examples (Your structure might be different)</p>
    <li><p>Post/Put <span class="badge badge-secondary" style="margin-left: 1em;">{{getGlobal().RESOURCE_RECORDS_LIST}}/{{'{url}'}}</span></p></li>
    <pre>
        <code>
    {{'{'}}
        "car": "Car 2",
        "price": 150000.00,
        "used": false
    {{'}'}}
        </code>
    </pre>
    <hr class="my-2">
    <h5>Resource record <span class="badge badge-secondary" style="margin-left: 1em;">{{getGlobal().RESOURCE_RECORDS_LIST}}/{{'{url}/{recordId}'}}</span></h5>
    <p>Supported methods: <span class="badge badge-success" style="margin-left: 1em;">GET</span>
        <span class="badge badge-success" style="margin-left: 1em;">PATCH</span>
        <span class="badge badge-success" style="margin-left: 1em;">DELETE</span>
        </p>
        <p>Examples</p>
        <li><p>Patch <span class="badge badge-secondary" style="margin-left: 1em;">{{getGlobal().RESOURCE_RECORDS_LIST}}/{{'{url}'}}/50</span></p></li>
        <pre>
            <code>
    {{'{'}}
        "car": "Car2",
        "price": "125000.00",
        "used": false
    {{'}'}}
            </code>
        </pre>

        <hr class="my-4">
        <h2 style="margin-bottom: 1em;">Other way to access prive resource</h2>
        <p>
            Resource can be access eaither by unique URL ({{getGlobal().RESOURCE_RECORDS_LIST}}/{{'{url}'}}) or by sending resource url in header 'X-RESOURCE-ID'.
            When using header 'X-RESOURCE-ID':
        </p>
            <code>X-RESOURCE-ID: {{'{resource url}'}}</code>
        <p style="margin-top: 1em;">
            Access to resource using universal api URL:<br>
            {{getGlobal().API_GET_ALL}} - Return all records in resource X-RESOURCE-ID<br>
            {{getGlobal().API_GET_RECORD}}{{'{recordId}'}} - Return record with id {{'{recordId}'}} from resource X-RESOURCE-ID
        </p>



</div>