.nav-bar {
    margin-bottom: 20px;
    /* background: rgb(0,255,246);
    background: -moz-linear-gradient(180deg, rgba(0,255,246,1) 0%, rgba(0,255,220,0.4696079115239846) 0%, rgba(255,255,255,1) 100%);
    background: -webkit-linear-gradient(180deg, rgba(0,255,246,1) 0%, rgba(0,255,220,0.4696079115239846) 0%, rgba(255,255,255,1) 100%);
    background: linear-gradient(180deg, rgba(0,255,246,1) 0%, rgba(0,255,220,0.4696079115239846) 0%, rgba(255,255,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#00fff6",endColorstr="#ffffff",GradientType=1);
    height: 70px; */
}

#title {
    font-size: 30px;
    margin-left: -20px;
}

.row {
    margin-left: 0px;
    margin-right: 0px;
}

.nav-link {
    font-size: 30px
}