<div class="w-100 nav-bar">
    <div class="row bg-primary align-items-center">
        <div id="title" class="justify-content-begin text-light col">
            <a class="text-light nav-link" style="width: max-content;" [routerLink]="['/home']" routerLinkActive="router-link-active">Your RESTful</a>
        </div>
        <ul class="nav justify-content-end col">
            <a target="_blank" class="nav-link text-light" [routerLink]="['/api']" routerLinkActive="router-link-active">Documentation</a>
            <li class="nav-item" *ngIf="user === null">
                <a class="nav-link text-light" [routerLink]="['/login']" routerLinkActive="router-link-active">Login</a>
            </li>
            <li class="nav-item" *ngIf="user === null">
                <a class="nav-link text-light" [routerLink]="['/register']"
                    routerLinkActive="router-link-active">Register</a>
            </li>
            <li class="nav-item" *ngIf="user !== null">
                <div class="dropdown">
                    <a class="nav-link text-light dropdown-toggle" href="#" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" onclick="return false;">
                        {{user.username}}
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" [routerLink]="['/dashboard']" routerLinkActive="router-link-active" >Dashboard</a>
                        <a class="dropdown-item" [routerLink]="['/profile']" routerLinkActive="router-link-active" >Profile</a>
                        <a *ngIf="user.type === 'ADMIN'" class="dropdown-item" [routerLink]="['/admin/dashboard']" routerLinkActive="router-link-active" >Admin panel</a>
                    </div>
                </div>
                <!-- <a class="nav-link text-light" [routerLink]="['/profile']"
                    routerLinkActive="router-link-active">{{user.username}}</a> -->
            </li>
            <li class="nav-item" *ngIf="user !== null">
                <a class="nav-link text-light" href="#" (click)="logout()">Logout</a>
            </li>
        </ul>
    </div>
</div>