<app-alert #alert></app-alert>
<div class="card" style="width: 80%;margin-left: 10%;margin-right: 10%;">
    <div class="card-header">
        <div class="row align-items-center h-100">
            <div class="col mx-auto" style="padding-left: 15;">
                <span>Parameters</span>
            </div>
            <input id="parameter-code" style="width: auto;" type="text" class="form-control" placeholder="Parameter code"
                aria-label="Parameter code" aria-describedby="basic-addon2">
        </div>
    </div>
    <div class="card-body" style="padding: 0 0 0 0;">
        <span class="text-muted" *ngIf="parameters.content.length === 0">No parameters found</span>
        <div class="container" style="max-width: inherit; padding: 0 0 0 0; margin: 0 0 0 0;">
            <table class="table table-striped" style="margin-bottom: 0;">
                <thead>
                    <tr>
                        <td>Code</td>
                        <td>Value</td>
                    </tr>
                </thead>
                <tbody>
                    <ng-container *ngFor="let item of parameters.content">
                        <tr class="clickable" (click)="onParameterClick(item.code)">
                            <th>{{item.code}}</th>
                            <th>{{(item.value.length > 100) ? (item.value | slice:0:100) + '...':item.value}}</th>
                        </tr>
                    </ng-container>
                </tbody>
            </table>
        </div>
    </div>
    <div class="card-footer">
        <span *ngIf="pageInfo && pageInfo.totalElements > 0">
            Page:
            <button (click)="changePage(false)">
                <i class="fa fa-caret-left fa-lg"></i>
            </button>
            {{pageInfo.number + 1}}/{{pageInfo.totalPages}}
            <button (click)="changePage(true)">
                <i class="fa fa-caret-right fa-lg"></i>
            </button>
            Total number of parameters:
            {{pageInfo.totalElements}}
        </span>
    </div>
</div>

<script>
    let input = document.getElementById('parameter-code');
    // Init a timeout variable to be used below
    let timeout = null;

    // Listen for keystroke events
    input.addEventListener('keyup', function (e) {
        // Clear the timeout if it has already been set.
        // This will prevent the previous task from executing
        // if it has been less than <MILLISECONDS>
        clearTimeout(timeout);

        // Make a new timeout set to go off in 1000ms (1 second)
        timeout = setTimeout(function () {
            console.log('Input Value:', textInput.value);
        }, 1000);
    });
</script>