<div mat-dialog-content>
    <h5 style="margin-bottom: 1em;">Parameter <b>{{data.code}}</b></h5>
    <mat-form-field class="form-full-width">
        <mat-label>Value</mat-label><br>
        <textarea matTextareaAutosize matInput [(ngModel)]="data.value"></textarea>
    </mat-form-field>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Close</button>
    <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Save</button>
</div>