<div class="container" style="margin: 2em;">
    <h1 style="margin-bottom: 1em;">Generator information</h1>
    <h3>Text</h3>
    <p>{{'{n}'}} -  add record number to text</p>
    <p>{{'{random}'}} -  insert random generated text</p>
    <p>{{'{random % number}'}} -  insert random generated text with length equalts <code>number</code></p>
    <h5>Example</h5>
    <pre>
        <code>
This record number is {{'{n}'}}
Record with random text: {{'{random}'}}
Inserted text length is 20: {{'{random % 20}'}}
        </code>
    </pre>
    <hr class="my-4">
    <h3>Number</h3>
    <h5>Variables/functions:</h5>
    <p>n - will be replaced with the number of the current generated record</p>
    <p>rand(number) - random number from 0 to <code>number - 1</code></p>
    <h5>Operations:</h5>
    <p>Add (+), Substract(-) </p>
    <p>Multiply (*), Divide(/)</p>
    <p>Power (^)</p>
    <p>Brackets (, )</p>
    <h5>Example</h5>
    <pre>
        <code>
5 * 5 * n
50/(5 * n)
500 * 2^n
500 - n * rand(10)
10 - n*(rand(2) + 1)
        </code>
    </pre>
    <hr class="my-4" >
    <h3>Double</h3>
    <h5>Variables/functions:</h5>
    <p>n - will be replaced with the number of the current generated record</p>
    <p>rand(number) - random number from 0 to <code>number - 1</code></p>
    <h5>Operations:</h5>
    <p>Add (+), Substract(-) </p>
    <p>Multiply (*), Divide(/)</p>
    <p>Power (^)</p>
    <p>Brackets (, )</p>
    <h5>Example</h5>
    <pre>
        <code>
5.2 * 5.1 * n
50.52/(5 * n)
500.1 * 2^n
500.6 - n * rand(10)
10.2 - n*(rand(2) + 1.11)
        </code>
    </pre>
    <hr class="my-4">
    <h3>Logic</h3>
    <p>True/False values</p>
    <p>Arithmetic expression</p>
    <P>Comparing operations: =, ==, !=, &lt;&gt;, &lt;, &lt;=, &lt;, &gt;=, &amp;&amp;, ||</P>
    <p>Valuse 0 have value False, any other number is True</p>
    <h5>Example</h5>
    <pre>
        <code>
true
false
n*(10/5) == 2
n &lt; 10
n &gt;= 2
        </code>
    </pre>
    <hr class="my-4">
    <h3>Date</h3>
    <p>now() - set current date and time as base value</p>
    <p>yyyy/MM/dd HH:mm:ss (example 2020/06/10 11:23:10) - set specific date and time as base value</p>
    <p>+5(y/M/d/H/m/s) (example +5M) - add five months to date in the next record</p>
    <p>-5(y/M/d/H/m/s) (example -5M) - subbract five months from date in the next record</p>
    <h5>Example</h5>
    <pre>
        <code>
Base: now(), expression: +5d
Base: now(), expression: -1y
Base: 2020/06/10 11:23:10, expression: +2s
Base: 2020/06/11 02:10:22, expression: -10m
        </code>
    </pre>
</div>