pre code {
    background-color: #eee;
    border: 1px solid #999;
    display: block;
    font-size: medium;
    padding: 0 0 0 1em;
  }
  pre {
    margin: 0;
  }
  
  .my-4 {
    margin-top: 0 !important;
  }