<app-alert #alert></app-alert>
<div class="card" style="width: 80%;margin-left: 10%;margin-right: 10%;">
    <div class="card-header">
        <div class="row align-items-center h-100">
            <div class="row" style="padding-left: 15; width: 100%; margin-bottom: 1em;">
                <span>Users</span>
            </div>
            <form class="needs-validation" novalidate>
                <div class="form-row">
                  <div class="col-md-3 mb-3">
                    <label for="firstName">First name</label>
                    <input type="text" class="form-control" id="firstName" placeholder="First name" required>
                  </div>
                  <div class="col-md-3 mb-3">
                    <label for="lastName">Last name</label>
                    <input type="text" class="form-control" id="lastName" placeholder="Last name" required>
                  </div>
                  <div class="col-md-3 mb-3">
                    <label for="username">Username</label>
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroupPrepend">@</span>
                      </div>
                      <input type="text" class="form-control" id="username" placeholder="Username" aria-describedby="inputGroupPrepend" required>
                    </div>
                  </div>
                  <div class="col-md-3 mb-1">
                    <label for="email">Email</label>
                    <input type="text" class="form-control" id="email" placeholder="Email" required>
                  </div>
                  <div class="col-md-2 mb-3">
                    <label for="validationCustom04">Type</label>
                    <select class="custom-select" id="type">
                        <option selected>Choose...</option>
                        <option value="USER">User</option>
                        <option value="ADMIN">Admin</option>
                      </select>
                  </div>
                  <div class="col-md-2 mb-3">
                    <label for="validationCustom05">Status</label>
                    <select class="custom-select" id="status">
                        <option selected>Choose...</option>
                        <option value="ACTIVE">Active</option>
                        <option value="NEW">New</option>
                        <option value="VERIFIED">Verified</option>
                        <option value="BANNED">Banned</option>
                      </select>
                  </div>
                </div>
              </form>
        </div>
    </div>
    <div class="card-body" style="padding: 0 0 0 0;">
        <div class="container" style="max-width: inherit; padding: 0 0 0 0; margin: 0 0 0 0;">
            <table class="table table-striped" style="margin-bottom: 0;">
                <thead>
                    <tr>
                        <td>First Name</td>
                        <td>Last Name</td>
                        <td>Username</td>
                        <td>Email</td>
                        <td>Type</td>
                        <td>Status</td>
                    </tr>
                </thead>
                <tbody>
                    <ng-container *ngFor="let item of users.content">
                        <tr class="clickable" (click)="onUserClick(item.username)">
                            <th>{{item.firstName}}</th>
                            <th>{{item.lastName}}</th>
                            <th>{{item.username}}</th>
                            <th>{{item.email}}</th>
                            <th>{{item.type}}</th>
                            <th>{{item.status}}</th>
                        </tr>
                    </ng-container>
                </tbody>
            </table>
        </div>
        <span class="text-muted" *ngIf="users.content.length === 0">No users found</span>
    </div>
    <div class="card-footer">
        <span *ngIf="pageInfo && pageInfo.totalElements > 0">
            Page:
            <button (click)="changePage(false)">
                <i class="fa fa-caret-left fa-lg"></i>
            </button>
            {{pageInfo.number + 1}}/{{pageInfo.totalPages}}
            <button (click)="changePage(true)">
                <i class="fa fa-caret-right fa-lg"></i>
            </button>
            Total number of users:
            {{pageInfo.totalElements}}
        </span>
    </div>
</div>