<div mat-dialog-content>
    <h5 style="margin-bottom: 1em;">User <b>{{data.username}}</b></h5>
    <mat-form-field class="form-full-width">
        <mat-label>First name</mat-label><br>
        <textarea matTextareaAutosize matInput [(ngModel)]="data.firstName"></textarea>
    </mat-form-field>
    <mat-form-field class="form-full-width">
        <mat-label>Last name</mat-label><br>
        <textarea matTextareaAutosize matInput [(ngModel)]="data.lastName"></textarea>
    </mat-form-field>
    <mat-form-field class="form-full-width">
        <mat-label>Email</mat-label><br>
        <textarea matTextareaAutosize matInput [(ngModel)]="data.email"></textarea>
    </mat-form-field>
    <mat-form-field class="form-full-width">
        <mat-label>Type</mat-label><br>
        <select matNativeControl [(ngModel)]="data.type">
            <option value="USER">User</option>
            <option value="ADMIN">Admin</option>
        </select>
    </mat-form-field>
    <mat-form-field class="form-full-width">
        <mat-label>Status</mat-label><br>
        <select matNativeControl [(ngModel)]="data.status">
            <option value="ACTIVE">Active</option>
            <option value="NEW">New</option>
            <option value="VERIFIED">Verified</option>
            <option value="BANNED">Banned</option>
        </select>
    </mat-form-field>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Close</button>
    <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Save</button>
</div>