<app-alert #alert></app-alert>
<div style="margin-left: 25px;" class="d-flex justify-content-center">
    <div class="btn-group" role="group" aria-label="Dashboard Buttons">
    </div>
    <div class="card" *ngIf="resources" style="width: 400px;">
        <div class="card-header">
            <div class="row align-items-center h-100">
                <div class="col mx-auto" style="padding-left: 0;">
                    <span>Your resources</span>
                </div>
                <div>
                    <a [routerLink]="['resource/new']" routerLinkActive="router-link-active" ><button type="button" class="btn btn-primary">Add resource</button></a>
                </div>
            </div>
        </div>
        <div class="body">
            <div style="margin-left: 2em;margin-top: 1em;margin-bottom: 1em;" *ngIf="resources.length == 0">Not resources found</div>
            <ng-container *ngIf="resources.length > 0">
                <div *ngFor="let resource of resources" class="row align-items-center">
                    <a href="#" [routerLink]="['resource', resource.url]" routerLinkActive="router-link-active"  class="nav-item col" style="margin-left: 1em; font-size: large;">{{resource.title}}</a> <span style="color: grey; margin-right: 1em;">{{resource.createDate | date}}</span>
                </div>
            </ng-container>
        </div>
        <div class="card-footer">
            {{resources.length > 0 ? resources.length : 0}}/{{maxResource}}
        </div>
    </div>
</div>