<app-alert #alert></app-alert>
<div class="d-flex justify-content-center">
    <form [formGroup]="registerForm" (ngSubmit)="register" style="max-width: 50%; min-width: 300px; width: 500px;">
        <div class="form-group">
            <label for="usernameInput">Username*</label>
            <input type="text" class="form-control" id="usernameInput" aria-describedby="usernameHelp" placeholder="Enter username" formControlName="usernameInput" [disabled]="isRequested">
            <small id="usernameHelp" class="form-text text-muted">Unique username across service</small>
            <div [hidden]="!registerForm.controls['usernameInput'].touched">
                <span [hidden]="!registerForm.hasError('required', 'usernameInput')">Field required</span>
                <span [hidden]="!registerForm.hasError('minlength', 'usernameInput')">Filed is to short, min lenght: 5</span>
            </div>
        </div>
        <div class="form-group">
            <label for="emailInput">Email*</label>
            <input type="email" class="form-control" id="emailInput" placeholder="Enter email" formControlName="emailInput" [disabled]="isRequested">
            <div [hidden]="!registerForm.controls['emailInput'].touched">
                <span [hidden]="!registerForm.hasError('required', 'emailInput')">Field required</span>
                <span [hidden]="!registerForm.hasError('email', 'emailInput')">Wrong email format</span>
            </div>
        </div>
        <div class="form-group">
            <label for="passwordInput">Password*</label>
            <input type="password" class="form-control" id="passwordInput" placeholder="Enter password" formControlName="passwordInput" [disabled]="isRequested">
            <div [hidden]="!registerForm.controls['passwordInput'].touched">
                <span [hidden]="!registerForm.hasError('required', 'passwordInput')">Field required</span>
                <span [hidden]="!registerForm.hasError('minlength', 'passwordInput')">Filed is to short, min lenght: 6</span>
                <span [hidden]="!registerForm.controls.passwordInput.valid || !registerForm.hasError('passwdnotequal')">Password are not equal!</span>
            </div>
        </div>
        <div class="form-group">
            <label for="repeatPasswordInput">Repeat password*</label>
            <input type="password" class="form-control" id="repeatPasswordInput" placeholder="Enter password again" formControlName="repeatPasswordInput" [disabled]="isRequested">
            <div [hidden]="!registerForm.controls['repeatPasswordInput'].touched">
                <span [hidden]="!registerForm.hasError('required', 'repeatPasswordInput')">Field required</span>
                <span [hidden]="!registerForm.hasError('minlength', 'repeatPasswordInput')">Filed is to short, min lenght: 6</span>
                <span [hidden]="!registerForm.controls.repeatPasswordInput.valid || !registerForm.hasError('passwdnotequal')">Password are not equal!</span>
            </div>
        </div>
        <div class="form-group">
            <label for="nameInput">Name</label>
            <input type="text" class="form-control" id="nameInput" placeholder="Enter your name" formControlName="nameInput" [disabled]="isRequested">
        </div>
        <ul class="nav justify-content-end align-items-center">
            <li class="nav-item">
                <a class="col" [routerLink]="['/login']" routerLinkActive="router-link-active" >Already have account? Log in</a>
            </li>
            <li class="nav-item">
                <button [disabled]="isRequested" type="button" class="btn btn-primary " (click)="register()">
                    <span [hidden]="!isRequested" class="spinner-border spinner-border-sm mr-1 text-light"></span>
                    <ng-container *ngIf="isRequested" >Please wait...</ng-container>
                    <ng-container *ngIf="!isRequested">Register</ng-container>
                </button>
            </li>
        </ul>
    </form>
</div>