<div class="body w-100">
    <div class="header">
        <app-header class="row header"></app-header>
    </div>
    <div class="main">
        <app-mainframe class="row content"></app-mainframe>
    </div>
    <div class="footer">
        <app-footer class="row footer"></app-footer>
    </div>
</div>