<app-alert #alert></app-alert>
<div class="card" style="width: 90%;margin-left: 5%;margin-right: 5%;">
    <div class="card-header">
        <div class="row align-items-center h-100">
            <div class="col mx-auto" style="padding-left: 15;">
                <span>Resource shares</span>
            </div>
            <div style="margin-right: 10px;">
                <button type="button" class="btn btn-primary" (click)="openDialog()">Share resource</button>
            </div>
        </div>
    </div>
    <div class="card-body">
        <span class="text-muted" *ngIf="shares.content.length === 0">No shares found</span>
        <div *ngFor="let item of shares.content">
            <span class="share-record">{{item.username}} ({{item.email}})</span>
            <button class="remove" (click)="removeRecord(item.username)">X</button>
        </div>
    </div>
    <div class="card-footer">
        <span *ngIf="pageInfo && pageInfo.totalElements > 0">
            Page:
            <button (click)="changePage(false)">
                <i class="fa fa-caret-left fa-lg"></i>
            </button>
            {{pageInfo.number + 1}}/{{pageInfo.totalPages}}
            <button (click)="changePage(true)">
                <i class="fa fa-caret-right fa-lg"></i>
            </button>
            Total number of records:
            {{pageInfo.totalElements}}
        </span>
    </div>
</div>