<div class="content" style="margin: 15px;">
    <div class="row">
        <a [routerLink]="['../parameters']" routerLinkActive="router-link-active" ><button type="button" class="btn btn-primary">Find parameters</button></a>
    </div>
    <div class="row" style="margin-top: 1em;">
        <a [routerLink]="['../users']" routerLinkActive="router-link-active" ><button type="button" class="btn btn-primary">Find users</button></a>
    </div>
</div>