<app-alert #alert></app-alert>
<div class="d-flex justify-content-center">
    <form [formGroup]="createForm" (ngSubmit)="create" style="max-width: 50%; min-width: 500px;">
        <div class="form-group">
            <label for="titleInput">Resource name</label>
            <input type="text" class="form-control" id="titleInput" placeholder="Enter resource name" formControlName="titleInput">
            <div [hidden]="!createForm.controls['titleInput'].touched">
                <span class="valid" [hidden]="!createForm.hasError('required', 'titleInput')">Field required</span>
                <span class="valid" [hidden]="!createForm.hasError('minlength', 'titleInput')">Field is to short, min length: 5</span>
            </div>
        </div>
        <div class="form-group">
            <input type="checkbox" id="editableInput" formControlName="editableInput">
            <label for="editableInput" style="margin-bottom: 0;">&nbsp;Editable</label>
            <small class="form-text text-muted" style="margin-top: 0;">Select this option if you want records to be modifed/created/removed<br> after creating resource</small>
        </div>
        <!-- <div class="form-group">
            <input type="checkbox" id="activeInput" formControlName="activeInput">
            <label for="activeInput">&nbsp;Active</label><i style="color: gray;margin-left: 1em;" class="icon-info-sign icon-large" data-toggle="tooltip" data-placements="top" title="Should requests be active?"></i>
        </div> -->
        <div class="form-group">
            <label class="row" for="structureInput">Resource Structure</label>
            <small class="form-text text-muted" style="margin-top: 0;">
                All records will have the same structure created below
            </small>
        </div>
        <div #structure id="structure" class="structure"></div>
        <ul class="nav justify-content-end align-items-center" *ngIf="!showRecordsForm">
            <li class="nav-item">
                <button type="button" class="btn btn-primary" (click)="create()" [hidden]='isModify'>
                    <!-- <span [hidden]="!isRequested" class="spinner-border spinner-border-sm mr-1 text-light"></span> -->
                        Generate records
                </button>

                <button type="button" class="btn btn-primary" (click)="save()" [hidden]='!isModify'>
                    <!-- <span [hidden]="!isRequested" class="spinner-border spinner-border-sm mr-1 text-light"></span> -->
                        Save resource
                </button>
            </li>
        </ul>
        <div *ngIf="showRecordsForm">
            <hr/>
            <label style="font-size: large;">Records editor</label>
            <div class="form-check">
                <input #noRecords class="form-check-input" type="radio" name="recordOption" id="noRecords" checked (change)="recordOptionChange('noRecords')">
                <label class="form-check-label" for="noRecords">
                  Do not generate records
                </label>
            </div>
            <div class="form-check">
                <input #createRecords class="form-check-input" type="radio" name="recordOption" id="createRecords" (change)="recordOptionChange('createRecords')">
                <label class="form-check-label" for="createRecords">
                    Generate records
                </label>
            </div>
            <div style="margin-bottom: 1em;" *ngIf="activeOption === 'createRecords'">
                <h4 class="row" style="margin: 1.5em 0 0.5em 0;">Records generator <a target="_blank" style="padding: 0 0 0 1em;" class="nav-link" type="Button" [routerLink]="['/generator']" routerLinkActive="router-link-active" >Expression help</a></h4>
                <div class="row">
                    <label for="records">Records to generate:</label>
                    <input id="recordsGenerate" class="form-control form-control-sm" style="margin-left: 1em;margin-right: 1em; width: 75px;" type="number" value="1"> (max {{maxRecords}})
                </div>
            </div>
        </div>
    </form>
</div>
<div class="d-flex justify-content-center" style="min-width: 500px;">
    <div style="min-width: 500px;">
        <div id="generator"></div>
        <div *ngIf="showRecordsForm">
            <ul class="nav justify-content-end align-items-center">
                <li class="nav-item">
                    <button type="button" class="btn btn-primary" style="margin-top: 1em; margin-right: 1em;" (click)="create()">
                        <!-- <span [hidden]="!isRequested" class="spinner-border spinner-border-sm mr-1 text-light"></span> -->
                        Create resource
                    </button>
                </li>
            </ul>
        </div>
    </div>
</div>