<div class="d-flex justify-content-center">
    <div class="alert alert-primary w-75" *ngIf="successMessage !== undefined && successMessage !== null" role="alert">{{successMessage}}</div>
    <div class="alert alert-danger" *ngIf="errorMessage !== undefined && errorMessage !== null" role="alert">
        <p style="margin-bottom: 0px;">{{errorMessage}}</p>
        <span *ngFor="let field of errorFields"><br>[{{field.field}}] {{field.message}}</span>
    </div>
</div>