<div class="d-flex justify-content-center">
    <div class="card" style="width: 400px;margin-left: 25px;">
        <div class="card-header">
            <div class="row align-items-center h-100">
                <div class="col mx-auto" style="padding-left: 0;">
                    <span>User information</span>
                </div>
                <div>
                    <!-- <a [routerLink]="['/dashboard', 'modify']" routerLinkActive="router-link-active" ><button type="button" class="btn btn-primary">Modify</button></a> -->
                </div>
            </div>
        </div>
        <div class="card-body">
            <span>Username: {{profile.username}}</span><br>
            <span *ngIf="profile.firstName || profile.lastName">Name: {{profile.firstName}} {{profile.lastName}}<br></span>
            <span>E-mail address: {{profile.email}}</span><br>
            <span>Registration date: {{profile.registrationDate | date}}</span><br>
            <span>User status: {{profile.status}}</span><br>
            <span>User type: {{profile.type}}</span><br>
        </div>
    </div>
</div>