<app-alert #alert></app-alert>
<div style="width: 90%; margin-left: 5%; margin-right: 5%; margin-top: 15px; margin-bottom: 30px;">
    <div id="newRecord"></div>
    <div>
        <button class="btn btn-primary" id="buttonAddRecord" (click)="addRecord()">Add record</button>
    </div>

</div>
<div class="card" style="width: 90%;margin-left: 5%;margin-right: 5%;">
    <div class="card-header">
        <div class="row align-items-center h-100">
            <div class="col mx-auto" style="padding-left: 15;">
                <span>Resource records</span>
            </div>
            <div style="margin-right: 10px;">
                <button type="button" class="btn btn-primary" (click)="onCreateClick()">Create record</button>
            </div>
        </div>
    </div>
    <div class="card-body">
        <span class="text-muted" *ngIf="records.content.length === 0">No records found</span>
        <div *ngFor="let item of records.content">
            <span class="record">{{item | recordPipe}}</span>
            <button class="remove" (click)="removeRecord(item.id)">X</button>
        </div>
    </div>
    <div class="card-footer">
        <span *ngIf="pageInfo && pageInfo.totalElements > 0">
            Page:
            <button (click)="changePage(false)">
                <i class="fa fa-caret-left fa-lg"></i>
            </button>
            {{pageInfo.number + 1}}/{{pageInfo.totalPages}}
            <button (click)="changePage(true)">
                <i class="fa fa-caret-right fa-lg"></i>
            </button>
            Total number of records:
            {{pageInfo.totalElements}}
        </span>
    </div>
</div>