<app-alert #alert></app-alert>
<div class="row">
    <div class="col-sm">
        <div class="card" style="width: 400px;margin-left: 25px;min-height: 250px;margin-bottom: 50px;">
            <div class="card-header">
                <div class="row align-items-center h-100">
                    <div class="col mx-auto" style="padding-left: 0;">
                        <span>Resource details</span>
                    </div>
                    <div>
                        <button type="button" class="btn btn-danger" (click)="deleteResource()">Delete</button>
                        <a style="margin-left: 10px;" [routerLink]="['/dashboard','resource', resource.url, 'modify']" routerLinkActive="router-link-active" ><button type="button" class="btn btn-primary">Modify</button></a>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <span>Name: {{resource.title}}</span><br>
                <span>Create date: {{resource.createDate | date}}</span><br>
                <span class="align-middle">Editable </span> <input type="checkbox" [checked]="resource.editable"
                    disabled><br>
                <!-- <span class="align-middle">Active </span> <input type="checkbox" [checked]="resource.active" -->
                    <!-- disabled><br> -->
            </div>
            <div class="card-footer">
            </div>
        </div>
    </div>
    <div class="col-sm">
        <div class="card" style="width: 400px;margin-left: 25px;min-height: 250px;margin-bottom: 50px;">
            <div class="card-header">
                <div class="row align-items-center h-100">
                    <div class="col mx-auto" style="padding-left: 0;">
                        <span>Share</span>
                    </div>
                    <div>
                        <button type="button" class="btn btn-primary" (click)="openDialog()" >Add</button>
                        <a style="padding-left: 10px;" [routerLink]="['/dashboard','share', resource.url, 'modify']" routerLinkActive="router-link-active"><button type="button" class="btn btn-primary">Modify</button></a>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <span class="text-muted" *ngIf="shares.content.length === 0">You share this resource with no one</span>
                <div *ngFor="let item of shares.content">
                    <span>{{item.username}} ({{item.email}})</span>
                </div>
            </div>
            <div class="card-footer">
                People that have access to this resource
            </div>
        </div>
    </div>
    <div class="col-sm">
        <div class="card" style="width: 400px;margin-left: 25px;min-height: 250px;margin-bottom: 50px;">
            <div class="card-header">
                <div class="row align-items-center h-100">
                    <div class="col mx-auto" style="padding-left: 0;">
                        <span>Resource records</span>
                    </div>
                    <div>
                        <a [routerLink]="['/dashboard','records', resource.url, 'modify']" routerLinkActive="router-link-active" ><button type="button" class="btn btn-primary">Modify</button></a>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <span class="text-muted" *ngIf="records.content.length === 0">No records found</span>
                <div *ngFor="let item of records.content">
                    <span>{{item | recordPipe:'short'}}</span>
                </div>
            </div>
            <div class="card-footer">
                Total number of records: {{records.page.totalElements}}
            </div>
        </div>
    </div>
</div>
<div class="card" style="margin-left: 25px;margin-right: 25px;">
    <div class="card-header">
        <div class="row">
            Links
            <a target="_blank" style="padding: 0 0 0 1em;" class="nav-link" type="Button" [routerLink]="['/api']" routerLinkActive="router-link-active" >How to use these links</a>
        </div>
    </div>
    <div class="card-body">
        <div *ngFor="let link of resource.links">
            <span>Relation: {{link.rel}}</span><br>
            <a href="{{link.href}}" style="margin-left: 2em;">{{link.href}}</a><br>
        </div>
    </div>
</div>