<div mat-dialog-content>
  <p>Please provide user information</p>
  <mat-form-field>
    <mat-label>E-mail or username</mat-label>
    <input matInput [(ngModel)]="data.name">
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Close</button>
  <button mat-button [mat-dialog-close]="data.name" cdkFocusInitial>Share</button>
</div>
