/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0;     font-family: -apple-system, BlinkMacSystemFont,
    “Segoe UI”, “Roboto”, “Oxygen”, “Ubuntu”, “Cantarell”,
    “Fira Sans”, “Droid Sans”, “Helvetica Neue”,
    sans-serif; }

.fieldRow {
    margin-bottom: 10px;
}

.row {
    margin-left: 0px;
    margin-right: 0px;
}