<div style="margin-top: -20px;">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item" [class.active]="navs.length === 0"><a [routerLink]="['/dashboard']">Dashboard</a></li>
            <ng-container *ngFor="let link of navs;index as indexOfelement;">
                <ng-container *ngIf="indexOfelement === (navs.length - 1)">
                    <li class="breadcrumb-item active" aria-current="page">{{link.name}}
                    </li>
                </ng-container>
                <ng-container *ngIf="indexOfelement !== (navs.length - 1)">
                    <li class="breadcrumb-item">
                        <a [routerLink]="'/dashboard/' + link.link" routerLinkActive="router-link-active">{{link.name}}</a>
                    </li>
                </ng-container>
            </ng-container>
        </ol>
    </nav>
</div>
<router-outlet></router-outlet>